*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

#game-field{
    margin: 20px auto;
    border: 3px solid rgb(0, 224, 0);
    box-shadow: 0 0 3px rgb(0, 224, 0);

    position: relative;
}

#game-score{
    color: rgb(0, 224, 0);
    font-family: FreeMono;
}