*{
    font-family:  'Press Start 2P';
    margin: 0;
    padding: 0;
    color: white;
    /* box-sizing: border-box; */
}

body{
    background-color: black;
}

#game-field{
    /* margin: 20px auto; */
    border: 3px solid rgb(0, 224, 0);
    box-shadow: 0 0 3px rgb(0, 224, 0);

    position: relative;
}

#game-score{
    color: rgb(0, 224, 0);
    font-family: FreeMono;
}

.arrow{
    position: absolute;
    z-index: 2;
    opacity: 0.2;
    transition: all 0.2s ease-out;
    box-sizing: border-box;
}

#arrow-up{
    left: calc((100% - 30px)/2);
    top: -10px;	
    
    border: 20px solid transparent; border-bottom: 20px solid rgb(0, 255, 0);
}
#arrow-right{
    right: -10px;
    top: calc((100% - 30px)/2);

    border: 20px solid transparent; border-left: 20px solid rgb(0, 255, 0);
}
#arrow-down{
    left: calc((100% - 30px)/2);
    bottom: -10px;

    border: 20px solid transparent; border-top: 20px solid rgb(0, 255, 0);
}
#arrow-left{
    left: -10px;
    top: calc((100% - 30px)/2);

    border: 20px solid transparent; border-right: 20px solid rgb(0, 255, 0);
}
